numpy==1.26.4
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
onnx==1.14.1
onnxruntime==1.16.3
psutil==5.9.5
easyocr==1.7.2
pytesseract==0.3.13
pyttsx3==2.90
pillow==9.5.0
scikit-image==0.21.0
python-bidi==0.4.2
Shapely==1.8.5
