
ultralytics==8.3.0
onnxruntime==1.17.0

numpy==1.25.2
opencv-python==4.8.0.76
easyocr==1.7.1
fer==22.5.1
vosk==0.3.45
pyttsx3==2.90
osmnx==1.9.1
networkx==3.2.1
geopy==2.4.1
pyaudio==0.2.13
psutil==5.9.5
pip install scikit-learn==1.2.2
pip install sounddevice
